@font-face {
  font-family: 'TTNormsPro-Bold';
  src: url('../fonts/39992D_0_0.eot');
  src: url('../fonts/39992D_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/39992D_0_0.woff') format('woff2'), url('../fonts/39992D_0_0.woff') format('woff'), url('../fonts/39992D_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'TTNormsPro-Regular';
  src: url('../fonts/39992D_1_0.eot');
  src: url('../fonts/39992D_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/39992D_1_0.woff') format('woff2'), url('../fonts/39992D_1_0.woff') format('woff'), url('../fonts/39992D_1_0.ttf') format('truetype');
}

body,
html {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

.hide-overflow {
  height: 100vh;
  overflow-y: hidden
}

.centered-background-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.intro {
  background-image: url("../images/firstview_picture.sp.jpg");
  position: absolute;
  /* top: 64px; */
  top: 79px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(0);
  transition: transform 2s, opacity 2s;
  z-index: 0
}

.section_one {
  height: 100vh;
  position: relative;
  overflow: auto
}

.section_one-title-box {
  /* width: 100%;
  height: 100%; */
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  transform: translateX(20px);
  overflow: hidden;
}

.section_one-title-container {
  display: block;
  position: relative;
  width: 270px;
  height: 43px;
  margin: 40px auto 0
}

.section_one-title-box {
  width: 0px;
  height: 43px;
  z-index: 7
}

.section_one-title-image {
  width: 270px;
  height: 43px;
  z-index: 7;
  opacity: 0
}

.about-text,
.concept-text {
  transform: none;
  font-size: 20px;
  font-weight: 400;
  font-family: TTNormsPro-Bold;
}

.introduction {
  padding-top: 30px;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, Yu Gothic, sans-serif;
  padding: 2% 0px 0px
}

.introduction-title {
  font-weight: 400;
  font-size: 17.8px;
  -webkit-text-stroke: .02em #333537;
  font-family: A1明朝
}

.introduction-description {
  font-size: 13.2px;
  margin-top: 24.05px;
  line-height: 1.7em;
  letter-spacing: .15em;
}

.about_picture {
  background-image: url("../images/about_picture.sp.jpg");
  height: 240px;
  margin-top: 32.04px;
}

.about-text-container {
  position: absolute
}

.about-section-row {
  position: relative
}

.concept_picture {
  background-image: url("../images/concept_picture.sp.jpg");
  height: 240px;
  margin-top: 32.04px;
  width: 100%
}

.section_three {
  position: relative;
}

.introduction-line {
  height: 2px;
  background-color: #333537;
  width: 55.5px;
  margin-top: 24.05px;
}

.concept-introduction {
  padding: 35.2px 0px;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, Yu Gothic, sans-serif;
}

.about-section-grid-container,
.concept-section-grid-container {
  position: relative;
  padding: 66px 45.33px 0px;
}

.about-text-container {
  position: relative;
}

.link-style {
  font-family: TTNormsPro-Bold;
  display: flex;
  align-items: center;
  position: relative;
  height: 44.4px;
  margin-top: 17.6px;
  font-size: 15.4px;
  z-index: 1;
  justify-content: center;
  border: 1px solid #333537;
  text-decoration: none !important;
  color: #333537;
}

.section-content-link {
  width: 100%;
  z-index: 1;
}

.section-content-link:hover {
  background-color: black;
  color: white;
}

.line-up-image {
  width: 70%;
}

.section_four {
  margin: 61px 27.5px 0px;
}

.lineup-title {
  font-size: 4.8vw;
  margin-top: 15.4px;
  font-weight: 400;
  font-family: TTNormsPro-Bold;
}

.lineup-subtitle {
  font-family: TTNormsPro-Regular;
  font-size: 3.1vw;
  margin-top: 4.4px;
}

.lineup-description,
.lineup-meta {
  font-size: 2.5vw;
  color: #333537;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, Yu Gothic, sans-serif
}

figure {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 8%;
}

.column {
  width: 50%;
  padding-top: 60px;
}

.line-up-link {
  width: 88%;
  margin-bottom: 30px
}

.hidden {
  opacity: 0;
  overflow: hidden;
  max-height: 0
}

.cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.loading {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  pointer-events: none;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.loading-image {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.background-effect {
  position: absolute;
  top: 0 !important;
  right: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.background-effect-box {
  position: absolute;
  width: 213%;
}

.background-effect-content {
  width: 100%;
  margin-left: 50%;
  margin-top: 30%;
  transform: translateX(-50%);
}

.blurred-droplets-box {
  top: 13%
}

.fade-loader {
  opacity: 0
}

.layout-container {
  position: relative;
}

.main-content {
  position: relative;
}

.delayed-show {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: transform 1s, opacity 1s;
}

.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Laptop Media Queries */

@media (min-width:1024px) {
  .intro {
    background-image: url("../images/firstview_picture.jpg");
    /* top: 120px; */
    top: 135px;
  }
  .section_one-title-container {
    width: 932px;
    height: 160px;
  }
  .section_one-title-box {
    width: 932px;
    height: 160px;
    z-index: 7
  }
  .section_one-title-image {
    width: 932px;
    height: 160px;
  }
  .about-text {
    transform: rotate(90deg) translateY(-100%);
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 30px;
  }
  .about-section-grid-container {
    padding: 135px 0px 0px;
  }
  .introduction {
    padding-top: 0px;
    padding-left: 45%
  }
  .about_picture {
    background-image: url("../images/about_picture.jpg");
    height: 800px;
    margin-top: 120px;
  }
  .about_picture_container {
    padding: 0px 120px;
  }
  .concept-text {
    transform: rotate(90deg) translateY(-100%);
    position: absolute;
    top: 90px;
    right: 108px;
    font-size: 30px;
  }
  .concept-section-grid-container {
    position: relative;
    margin: 200px 0px 0px;
    z-index: 2;
  }
  .concept-introduction {
    padding: 0px 198px;
  }
  .concept_picture {
    background-image: url("../images/concept_picture.jpg");
    height: 864px;
    position: relative;
    margin-top: -101px;
    /* position: absolute;
    top:233px;
    left:0; */
    z-index: 1;
  }
  .introduction-title {
    font-size: 29.8px;
    letter-spacing: .24em;
  }
  .introduction_description {
    font-size: 12.95px;
    margin-top: 24.05px;
    line-height: 2.3em;
    letter-spacing: .2em;
  }
  .section-content-link {
    width: 244px;
    margin-top: 22.2px;
    font-size: 12.95px;
  }
  .line-up-link {
    width: 80%
  }
  .column {
    width: 25%;
  }
  .lineup-title {
    font-size: 1.7vw;
  }
  .lineup-subtitle {
    font-size: 0.9vw;
  }
  .lineup-description,
  .lineup-meta {
    font-size: 12px;
  }
  .line-up-image {
    width: 50%;
  }
  .flex-container {
    padding: 0px 15%;
  }
  .loading-image {
    width: 33%;
  }
  .background-effect-box {
    width: 120%;
  }
  .background-effect-content {
    margin-top: 17%;
  }
  .blurred-droplets-box {
    top: 9%
  }
}