body{
  margin: 0px;
}

.centered-background-image{
  background-size: cover;  
  background-position: 50%;
  background-repeat: no-repeat;
}

.intro{
  background-image: url("../images/firstview_picture.sp.jpg");
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
}

.section_one{
  height: 100vh;
  position: relative; 
}

.about-text, .concept-text{
  transform: none; 
  font-size: 20px;
  font-weight: 400;
}

.introduction{
  padding-top: 30px; 
}

.introduction-title{
  font-weight: 400;
  font-size: 19.8px;
  -webkit-text-stroke: .02em #333537;
}

.introduction-description{
  font-size: 13.2px;
  margin-top: 24.05px;
  line-height: 1.7em;
  letter-spacing: .15em;
}

.about_picture{
  background-image: url("../images/about_picture.sp.jpg");
  height: 240px;
  margin-top: 32.04px;
  
}

.concept_picture{
  background-image: url("../images/concept_picture.sp.jpg");
  height: 240px;
  margin-top: 32.04px;
  width: 100%
  
}

.section_three{
  position: relative;
}

.introduction-line{
  height: 2px;
  background-color: #333537; 
  width: 55.5px;
  margin-top: 24.05px;
}

.concept-introduction{
  padding: 35.2px 0px;   
  
}

.about-section-grid-container, .concept-section-grid-container{
  position: relative;
  padding: 66px 45.33px 0px;

}

.section-content-link{
  display: flex;
  align-items:center;
  position: relative; 
  width: 100%;  
  height: 44.4px;
  margin-top: 17.6px;
  font-size: 15.4px;
  z-index: 1;
  justify-content: center;
  border: 1px solid #333537;
  text-decoration:none !important;
  color: #333537;
}

.section-content-link:hover{
  background-color: black;
  color: white;
  
}


@media (min-width:1024px){
  .intro{
    background-image: url("../images/firstview_picture.jpg");
  }

  .about-text{
    transform: rotate(90deg) translateY(-100%);
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 30px;
  }

  .about-section-grid-container{    
    padding: 135px 0px 0px;
  }

  .introduction{
    padding-top: 0px; 
  }

  .about_picture{
    background-image: url("../images/about_picture.jpg");
    height: 800px;
    margin-top: 120px;
   
  }

  .about_picture_container{
    padding: 0px 120px; 
  }

  .concept-text{
    transform: rotate(90deg) translateY(-100%);
    position: absolute;
    top: 90px;
    right:108px;
    font-size: 30px;
  }

  .concept-section-grid-container{
    position: relative;
    margin: 200px 0px 0px; 
    z-index: 2;  
  }

  .concept-introduction{
    padding: 0px 198px;   
    
  }

  .concept_picture{
    background-image: url("../images/concept_picture.jpg");
    height: 864px;
    position: absolute;
    top:233px;
    left:0;
    z-index: 1;  
  }

  .introduction-title{
    font-size: 29.8px;
    letter-spacing: .24em;
  }
  
  .introduction_description{
    font-size: 12.95px;
    margin-top: 24.05px;
    line-height: 2.3em;
    letter-spacing: .2em;
  }
  
  .section-content-link{   
    width: 244px;
    margin-top: 22.2px;
    font-size: 12.95px;

  }
}